body{
    font-family: sans-serif;

}

h1 {
    text-align: center;
    color: aquamarine;
    background-image: linear-gradient( to right,blueviolet, blue, lightblue );
    font-size: 25px;
}

ol {
    color: blue;
    font-size: 20px;
}

.text-big{
    text-align: center;
    background-image: linear-gradient( to right,blueviolet, blue, lightblue );
    font-size: 25px;
}

.we {
    position: absolute;
    left: 230px;
    top: 170px;
    width: 100px;
    
}
